.work-page {
  margin-top: 5%;
}

.work-page a {
  color: rgba(241,241,241, 0.25);
  font: 900 100px "Alegreya Sans SC", sans-serif;
  transition: all ease 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.work-page a:hover {
  color: var(--text-color);
  font-size: 200px;
}

.work-page a:hover + a::before {
  visibility: visible;
  animation-name: work-page-animation;
  animation-duration: 0.8s;
}
