h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-size: 76px;
}

.main footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.heart-icon {
  margin: 0 5px;
}
