h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-size: 76px;
}

/* intro */

.main .intro {
  display: flex;
  justify-content: center;
}

.main .image {
  height: 390px;
  width: 330px;
}

.main .intro .intro-text {
  font-family: "Alegreya Sans SC", sans-serif;
  padding-left: 150px;
  margin-top: 35px;
}

.main .intro .intro-text::after {
  content: "";
  width: 430px;
  height: 2px;
  margin-top: 5px;
  transform: rotate(-2.79deg);
  position: absolute;
  background-color: var(--text-color);
  animation-name: intro-text-animation;
  animation-duration: 2s;
}

@keyframes intro-text-animation {
  0% {width: 0px;}
  100% {width: 430px;}
}

.main .intro .intro-text h1 {
  font-weight: 900;
  font-size: 76px;
}

.main .intro .intro-text h2 {
  font-weight: 400;
  font-size: 54px;
}

/* about */

.about {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.about h1 {
  margin-left: 330px;
}

.about p {
  padding: 0 330px;
  font-size: 20px;
  margin-top: 100px;
}

.about::before {
  content: "";
  width: 300px;
  height: 2px;
  margin-top: 45px;
  position: absolute;
  background-color: var(--text-color);
}

/* skills */

.skills {
  margin-top: 230px;
  padding: 0 150px;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.skills h1 {
  margin-left: 59%;
  margin-bottom: 100px;
}

.skills h1::before {
  content: "";
  width: 300px;
  height: 2px;
  margin-top: 45px;
  right: 0;
  position: absolute;
  background-color: var(--text-color);
}

.skill-name {
  font-size: 24px;
}

.skill-bar {
  display: flex;
  margin-top: 20px;
  height: 5px;
  width: 300px;
  border-radius: 3px;
  background-color: rgba(241,241,241,0.1);
}

.skill-progress {
  height: 100%;
  border-radius: 3px;
  background-color: var(--text-color);
}

.sixty-percent {
  width: 60%;
  margin-right: 100px;
}

.eighty-percent {
  width: 80%;
  margin-right: 30px;
}

.fifty-percent {
  width: 50%;
  margin-right: 120px;
}

.skill-percentage {
  margin-top: 10px;
}

.other-skills p {
  font-size: 20px;
}

.certificates {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certificates h2 {
  font-size: 40px;
  align-self: center;
}

.certificates ul {
  margin-top: 100px;
}

.certificates li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 30px;
}

/* work experiences */
.works {
  margin-top: 230px;
}

.works::before {
  content: "";
  width: 300px;
  height: 2px;
  margin-top: 45px;
  position: absolute;
  background-color: var(--text-color);
}

.works h1 {
  margin-left: 330px;
  margin-bottom: 150px;
}

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-container::before {
  content: "";
  width: 2px;
  height: 1100px;
  top: 440vh;
  position: absolute;
  background-color: var(--text-color);
}

.work-job {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 350px;
}

.work-job h3 {
  font-weight: 400;
  margin-top: 25px;
}

.work-job::before {
  content: "";
  background-image: url("../../assets/work-before.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--bg-color);
  left: 49%;
}

.work-job span {
  margin-top: 50px;
  opacity: 25%;
}

.work-list-left {
  padding-right: 50px;
}

.work-list-left span,
.work-list-left h3,
.work-list-left h2 {
  text-align: right;
}

.work-list-left span {
  position: relative;
  left: 63%;
}
