.about {
  margin-top: 320px;
  display: flex;
  flex-direction: column;
}

.about h1 {
  margin-left: 26%;
}

.about p {
  padding: 0 26%;
  font-size: 1.8em;
  margin-top: 150px;
  font-weight: 300;
}

.about::before {
  content: "";
  width: 24%;
  height: 2px;
  margin-top: 55px;
  position: absolute;
  background-color: var(--text-color);
}

@media screen and (max-width: 1400px){
  .about h1 {
    font-size: 6em;
  }

  .about p {
    padding: 0 17%;
  }
}

@media screen and (max-width: 1000px){
  .about h1 {
    font-size: 5em;
  }

  .about p {
    margin-top: 80px;
    font-size: 1.6em;
    padding: 0 12%;
  }
}

@media screen and (max-width: 600px){
  .about {
    margin-top: 200px;
  }

  .about p {
    padding: 0 6%;
    font-size: 1.4em;
  }
}
