.works {
  margin-top: 350px;
}

.works::before {
  content: "";
  width: 25%;
  height: 2px;
  margin-top: 45px;
  position: absolute;
  background-color: var(--text-color);
}

.works h1 {
  margin-left: 28%;
  margin-bottom: 200px;
  font-size: 6em;
}

.work-container {
  padding: 100px;
  margin-bottom: 200px;
}

.work-list::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--text-color);
  height: 1300px;
  left: 50%;
  top: 62%;
}

.work-job {
  list-style: none;
  padding-bottom: 100px;
  position: relative;
  width: 50%;
}

.left::before {
  content: "";
  background-image: url("../../assets/work-before.svg");
  width: 30px;
  height: 30px;
  position: relative;
  background-color: var(--bg-color);
  z-index: 1;
  left: 15px;
}

.left {
  left: 0;
  display: flex;
  flex-direction: row-reverse;
}

.right {
  left: 50%;
  display: flex;
}

.right::before {
  content: "";
  background-image: url("../../assets/work-before.svg");
  width: 30px;
  height: 30px;
  position: relative;
  background-color: var(--bg-color);
  z-index: 1;
  left: -15px;
}

.left p,
.left h3,
.left h2 {
  text-align: right;
}

.content p {
  opacity: 50%;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.content h3 {
  font-size: 1.5em;
}

.content h2 {
  font-size: 2em;
  margin: 3px 0;
}
