.header {
  padding: 3% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::after {
  content: "";
  width: 8%;
  height: 1px;
  background-color: white;
  position: absolute;
  right: 0px;
  animation-name: header-animation;
  animation-duration: 2s;
}

@keyframes header-animation {
  0% {width: 0;}
  100% {width: 8%;}
}

.header .logo {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
}

.header a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-color);
}

.header nav a {
  margin-right: 20px;
  opacity: 50%;
  align-self: flex-end;
}

.header .selected {
  text-decoration: underline;
  opacity: 100%;
}
