.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact::before {
  content: "";
  width: 25%;
  height: 2px;
  margin-bottom: 31%;
  right: 0;
  position: absolute;
  background-color: var(--text-color);
}

.contact h1 {
  align-self: flex-end;
  margin-right: 28%;
}

.contact p {
  font-size: 1.8em;
  margin-top: 150px;
}

.social {
  margin: 150px 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social a {
  text-decoration: none;
  color: var(--text-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 0.8s;
}

.social a:hover {
  background-color: rgba(241,241,241,0.1);
}
